body {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    background-color: rgba(238, 210, 238, 0.5);
    color: var(--primary-text-color);
}



p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    max-width: 100%;
}

.logo {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.container {
    width: 100%;
    max-width: 1200px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

    display: block;


}

.header-title {
    top: 0;
    margin-bottom: 5px;
    width: 100%;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-title {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-title.title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title__forbidden {
    justify-content: center;
    align-items: center;
    color: red;
}

.list-regulations {
    display: flex;
    font-weight: 700;
    flex-direction: column;
}

.title-list {
    margin-top: 15px;
    margin-bottom: 20px;
}

.title-list__price {

    flex-direction: row;
    justify-content: space-evenly;
}